*{
    margin: 0;
    padding: 0;
}
/* Navigation */
#nav-bar{
    position: sticky;
    top: 0;
    background-color: rgba(97, 93, 93, 0.932);
    z-index: 10;
}
.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
    color: cornsilk !important;
    font-size: 16px;
    font-weight: 600;
}
#nav-bar ul li a:hover{
    color: #f8f41a !important;
}
.navbar-toggler-icon{
    background-color: cornsilk !important;
}
/* Slider */
#slider img{
    width: 100%;
    height: 90vh;
}
.carousel-caption{
   top: 50%;
   bottom: initial !important;
   transform: translateY(-50%);
}
.carousel-caption h5{
    color: #fff;
    font-size: 42px;
}
/* About */
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#about btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content{
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 13px;
    letter-spacing: 0.8px;
}
#about h4{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.8px;
}
#about h2{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.8px;
}
.skills-bar{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar{
    border-radius:16px;
}
.progress{
    border-radius: 16px !important;
    margin-bottom: 20px;
}
/* Services */
#services {
    background-image: linear-gradient(rgba(66, 65, 65, 0.596),rgba(77, 74, 74, 0.596));
    background-size: cover;
    background-position: center;
    color: #fff9f9 !important;
    background-attachment: fixed;
    padding-bottom: 50px;
    padding-top: 50px;
}
#services h1::after{
    content: '';
    background: #fff9f9;
    display: block;
    height: 3px;
    width: 170px;
    margin:20px auto 5px;
}
.sevices{
    margin-top: 40px;
    }
.icon{
    font-size: 35px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff ;
    border-radius: 50%;
}
#services p {
    font-size: 14px;
    margin-top: 20px;
    color: rgb(245, 239, 239);
    font-weight: 600;
    letter-spacing: 0.5px;
}
.sevices .col-md-3:hover{
    background-color: rgba(140, 140, 196, 0.678);
    cursor: pointer;
    transition: all 0.7s ease;
    border-radius: 20px;
}
/* Team Members */
#team{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#team h1{
    text-align: center;
    color: #555 !important ;
    padding-bottom: 10px;
}
#team h1::after{
    content: '';
    background: #555;
    display: block;
    height: 3px;
    width: 170px;
    margin:20px auto 5px;
}
.profile-pic{
    margin-top: 25px;
}
.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img{
   width: 240px;
   height: 300px;
   filter: grayscale(1);
}
.profile-pic .img-box img:hover{

    filter: grayscale(0);
    cursor: pointer;
 }
.profile-pic h2{
 font-size: 22px;
 font-weight: bold;
 margin-top: 15px;
 color: #555;
 }
.profile-pic h3{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #555;
}
#team .fa {
    height: 25px;
    width: 25px;
    color: #555 !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul {
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li {
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box ul, .img-box ul li {
    transition: 0.5;
}
/* Promo */
#promo{
    background-size:cover ;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
    font-weight: 600;
    height: 30vh;
}
#promo a{
 margin-bottom: 100px;
}
/* Price Plans */
#price{
    padding: 40px 0;
    background: #efefef;
}
#price h1{
    text-align: center;
    color: #555 !important ;
    padding-bottom: 10px;
}
#price h1::after{
    content: '';
    background: #555;
    display: block;
    height: 3px;
    width: 170px;
    margin:20px auto 5px;
}
.single-price{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
.single-price:hover{
    box-shadow: 0 2px 20px #333;
}
.price-head{
    background-color: #ccc;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}
.price-head h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p {
    font-size: 25px;
    color: #555;
    font-weight: bold;
    line-height: 30px;
}
#price span {
    font-size: 15px;

}
.price-content {
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.price-content ul li {
   border-bottom: 1px solid #efefef;
   padding: 15px 10px;
   list-style: none; 
}
ul li:last-child {
   border: none;
}
.price-button a {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 16px;
    color:rgb(62, 101, 230);
    
}
.price-button a:hover{
    color: red;
}
.fa-check-circle {
    color:green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle {
    color:red;
    margin-right: 10px;
    font-size: 20px;
}
/*  Testimonials  */
#testimonials  h1{
    margin-top: 20px;
    text-align: center;
    color: #555 !important ;
    padding-bottom: 10px;
}
#testimonials  h1::after{
    content: '';
    background: #555;
    display: block;
    height: 3px;
    width: 170px;
    margin:20px auto 5px;
}
#testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
}
#testimonials .row {
    margin-top: 30px;
}
.col-md-4{
    margin: 40px auto;
}
.user{
    width: 12px;
    height: 120px;
    border-radius: 50%;
}
.profile img{
    width: 150px;
    height: 150px;
    /* /* position: absolute; */
    margin-top: -156px;
    left: calc(40% -50px);
    border: 10px solid #fff; 

}
.profile{
    padding: 70px 10px 10px;
    background-color: #ccc;
    border-radius: 20px;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: rgb(43, 41, 41);
    font-weight: 900;
}
#testimonials span{
    font-size: 15px;
    color: #333;
}
blockquote{
    font-size: 17px;
    line-height: 30px;
}
/* Get in Touch */
#GetinTouch{
    padding: 40px 0;
    background: #efefef;
}
#GetinTouch h1{
    margin-top: 20px;
    text-align: center;
    color: #555 !important ;
    padding-bottom: 10px;
}
#GetinTouch h1::after{
    content: '';
    background: #555;
    display: block;
    height: 3px;
    width: 170px;
    margin:20px auto 5px;
}
form{
    border: none;
    background-color: #ccc;
    margin-top: 20px;
}
/* Footer */
#footer{
    background-color: rgb(29, 27, 27);
    color: #ccc;
    padding: 20px;
}