*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family:sans-serif ;
}

.form{
    width: 100%;
    position: relative;
    height: 50px;
    margin-top: 30vh;
    overflow: hidden;
}

.form input{
    width: 100%;
    height: 100%;
    color: #559f6e;
    padding-top: 20px;
    border: none;
   outline: none;
}
.form label{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    border-bottom: 2px solid black;
}
.form label::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid rgb(230, 84, 210);
    transform: translateX(-100%);
    transition: all 0.5s ease ;

}
.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
   transition: all 0.5s ease;
}

.form input:focus +.label-name .content-name, 
.form input:valid +.content-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: rgb(197, 50, 197);
}
.form input:focus +.label-name::after,
.form input:valid + .label-name:after{
    transform: translateX(0%);
}